/* {
  border: 1px #ffff00 solid;
}*/

/*.spinner {
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top: 6px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  //margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}*/

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
}

.text {
  font-size: 80px;
  color: #ffffff;
  //background-color: #333;
}

.back-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
}

.container {
  position: relative;
  width: 400px; /* Adjust the width of the container */
  height: 20px; /* Adjust the height of the container */
  background-color: #333; /* Background color of the container */
  overflow: hidden;
}

.line-animation {
  position: absolute;
  width: 100%; /* Full width inside the container */
  height: 100%; /* Full height inside the container */
  background-color: #fff; /* Color of the moving line */
  animation: moveLine 3s linear infinite;
  transform: translateX(
    -100%
  ); /* Initial state: move to the left to be hidden */
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
