.scan-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
}

.top-left-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

h2 {
  font-size: 80px;
}
