:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
}

.text {
  font-size: 80px;
  color: #ffffff;
  //background-color: #333;
}

.back-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
}

.container {
  position: relative;
  width: 400px; /* Adjust the width of the container */
  height: 20px; /* Adjust the height of the container */
  background-color: #333; /* Background color of the container */
  overflow: hidden;
}

.line-animation {
  position: absolute;
  width: 100%; /* Full width inside the container */
  height: 100%; /* Full height inside the container */
  background-color: #fff; /* Color of the moving line */
  animation: moveLine 3s linear infinite;
  transform: translateX(
    -100%
  ); /* Initial state: move to the left to be hidden */
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.location-selection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 24px;
    color: #ffffff;
  }

  select {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }
}
