<section class="container">
  <div class="message">{{ displayMessage }}</div>

  <div class="line" *ngIf="isLoading">
    <div class="line-animation"></div>
  </div>

  <div class="location-selection" *ngIf="showLocationDropdown">
    <label>Valitse sijainti:</label>
    <div class="location-buttons" *ngIf="locations.length > 0">
      <button *ngFor="let loc of locations" (click)="selectLocation(loc)">
        {{ loc }}
      </button>
    </div>
    <div *ngIf="locations.length === 0">
      <button (click)="selectLocation('Somewhere')">Somewhere</button>
    </div>
  </div>
</section>

<button class="back-button" routerLink="/main-menu">PALAA PÄÄVALIKKOON</button>
