<div class="info">
    <div class="top-left-button">
        <button class="back-button" routerLink="/">PALAA PÄÄVALIKKOON</button>
    </div>

    <div class="text-areas">
        <div class="left-text-area">
            <p>OHJEET KÄYTTÄJÄLLE<br> <br>
                Tavaran lainaus: <br>
                Paina LAINAA TAVARA nappulaa --><br>
                Näytä henkilökorttiasi lukijalle --><br>
                Näytä lainattavaa tavaraa lukijalle--><br>
                Tavara on nyt lainattu sinulle<br>
                Nimesi ja lainattu tavara sekä tavaran lainattuna kulunut aika ilmestyy 
                pääsivun oikealla puolella olevalle listalle.<br> <br>
                Tavaran palautus: <br>
                Paina PALAUTA TAVARA nappulaa --> <br>
                Näytä palautettavaa tavaraa lukijalle --> <br>
                Tavara on nyt palautettu.<br> 
                Kuka tahansa voi palauttaa lainatun tavaran.<br> <br>
                HALLINTA nappulasta pääsee opettajan oikeuksilla ylläpitäjän työkaluihin. 
                Täällä tapahtuu käyttäjän/tavaran lisääminen/poistaminen sekä ohjelman sulkeminen.
            </p>
        </div>
        
        <div class="right-text-area">
            <p>System components:<br>
                Frontend = Angular 2+<br>
                Backend = Express.js + Node.js<br>
                Database = MongoDb<br>
                Scanner = Arduino Uno + RFID scanner<br> <br>
                Tekijät:<br>
                Projektinvetäjä: Sami Kukkamäki<br>
                Projektityöntekijä: Janne Anttila<br>
                Tilaaja: SEDU Talotekniikka, Rastaantaival<br>
                Ohjelma tehty: Kevät 2024
            </p>
        </div>
    </div>
</div>
