:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}

.container {
  margin: auto;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "ins abo"
    "ins aut";
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.back-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  cursor: pointer;
}

.instructions,
.about,
.authors {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  text-align: left;

  .header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    padding-left: 15px;
  }

  h4,
  p {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.instructions {
  grid-area: ins;
}

.about {
  grid-area: abo;
  height: 100%; /* Set height to 100% */
}

.authors {
  grid-area: aut;
  height: 100%; /* Set height to 100% */
}
