<section class="container">
  <div class="instructions">
    <div class="header">
      <h3>Käyttöohjeet</h3>
    </div>
    <h4>Työkalun lainaaminen:</h4>
    <p>
      1. Paina "LAINAA" nappulaa<br />
      2. Näytä henkilökorttiasi lukijalle<br />
      3. Näytä lainattavaa tavaraa lukijalle<br />
      4. Valitse alue minne lainaat tavaran<br />
      <br />
      Tavara on nyt lainattu sinulle.
    </p>
    <h4>Työkalun palauttaminen:</h4>
    <p>
      1. Paina "PALAUTA" nappulaa<br />
      2. Näytä palautettavaa tavaraa lukijalle<br />
      <br />
      Tavara on nyt palautettu.
    </p>
    <h4>Järjestelmän hallinta:</h4>
    <p>
      1. Avaa asetukset <br />
      2. Lue opettajan henkilökortti <br />
      3. Lisää tai poista asioita järjestelmästä.
    </p>
  </div>

  <div class="about">
    <div class="header">
      <h3>Järjestelmän tiedot</h3>
    </div>
    <p>
      Käyttöliittymä: Angular + Electron<br />
      Palvelin: Express + Node<br />
      Tietokanta: MongoDb<br />
      Lukija: Arduino Uno R3 + PN532 RFID/NFC Shield<br />
    </p>
  </div>
  <div class="authors">
    <div class="header">
      <h3>Tekijät</h3>
    </div>
    <p>
      Projektinvetäjä: Sami Kukkamäki<br />
      Projektityöntekijä: Janne Anttila<br />
      Tilaaja: SEDU Talotekniikka, Rastaantaival<br />
      Ohjelma tehty: Kevät 2024
    </p>
  </div>
  <div class="button">
    <button class="back-button" routerLink="/main-menu">
      PALAA PÄÄVALIKKOON
    </button>
  </div>
</section>
