<div *ngIf="!showForm">
  <div class="message">
    <p>Tervetuloa!</p>
  </div>
</div>

<div *ngIf="showForm">
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <label for="username">Lisätään ensimmäinen käyttäjä</label>
    <input type="text" id="username" formControlName="username" />

    <button type="submit">Jatka</button>
  </form>
</div>

<div class="message" *ngIf="showScanTag">
  <p>Skannaa vielä tägi</p>
</div>

<div class="message" *ngIf="showSuccessMessage">
  <p>Uusi käyttäjä lisätty!</p>
</div>
