* {
  border: 1px #131313 solid;
}

.container {
  margin: auto;
  height: 98vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  display: grid;
  grid-template-areas: "li loli";

  .links {
    grid-area: li;
    grid-template-areas:
      "lo"
      "re"
      "ma";
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 600px;
    width: 600px;

    .loan {
      height: 100px;
      grid-area: lo;
    }

    .return {
      height: 100px;
      grid-area: re;
    }

    .management {
      height: 100px;
      grid-area: ma;
    }
  }

  .loan-list {
    grid-area: loli;
    padding: 30px;
    width: 600px;
    height: 600px;
  }
}
