.container {
  margin: auto;
  max-width: 1500px;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .items {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    width: 300px;

    p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 5px;
        font-weight: bold;
      }

      input {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        text-align: center;
      }

      button {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        button {
          background-color: #dc3545;
          color: #fff;
          padding: 5px;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #bd2130;
          }
        }
      }
    }
  }
}
