<section class="container">
  <!-- User Section -->
  <div class="users">
    <div class="window-header">
      <h3>KÄYTTÄJÄT</h3>
      <!--button class="add-button" routerLink="/add-user">
        <p>Lisää uusi</p>
      </button-->
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nimi</th>
            <th>Rooli</th>
            <th>Ryhmä</th>
            <th><button routerLink="/add-user"></button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.group }}</td>
            <td><button (click)="deleteUser(user._id)">Poista</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Loans Section -->
  <div class="loans">
    <div class="window-header">
      <h3>LAINAUSLISTA</h3>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Työkalu</th>
            <th>Lainaaja</th>
            <th>Ryhmä</th>
            <th>Alue</th>
            <th>Lainattu</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="loanedItems.length > 0; else noItemsPlaceholder">
            <tr *ngFor="let item of loanedItems">
              <td>{{ item.itemname }}</td>
              <td>{{ item.loaner.username }}</td>
              <td>{{ item.loaner.group }}</td>
              <td>{{ item.location }}</td>
              <td>{{ item.loantime }}</td>
            </tr>
          </ng-container>
          <ng-template #noItemsPlaceholder>
            <tr>
              <td colspan="5">Ei tällä hetkellä tavaroita lainassa.</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Item Section -->
  <div class="items">
    <div class="window-header">
      <h3>TYÖKALUT</h3>
      <button class="add-button" routerLink="/add-item">
        <p>Lisää uusi</p>
      </button>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Työkalu</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{ item.itemname }}</td>
            <td><button (click)="deleteItem(item._id)">Poista</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Location Section -->
  <div class="locations">
    <div class="window-header">
      <h3>TYÖALUEET</h3>
      <button class="add-button" routerLink="/add-location">
        <p>Lisää uusi</p>
      </button>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Alue</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let location of locations">
            <td>{{ location.name }}</td>
            <td>
              <button (click)="deleteLocation(location._id)">Poista</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<button class="back-button" routerLink="/main-menu">Kirjaudu ulos</button>
