:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}

.container {
  margin: auto;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "us us us us"
    "it it lo lo";
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;

  .users {
    width: 1200px;
  }

  .users,
  .items,
  .locations {
    background-color: rgba(255, 255, 255, 0.5);
    //margin: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user-header,
    .item-header,
    .location-header {
      h2,
      h3 {
        background-color: #333;
        color: #fff;
        text-align: left;
        padding: 5px;
      }
    }

    .user-content,
    .item-content,
    .location-content {
      flex: 1;
      padding: 10px;

      ul {
        list-style: none;
        padding: 0;
        overflow-y: auto;
        max-height: 200px;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          border-bottom: 1px solid #ccc;

          button {
            background-color: #dc3545;
            color: #fff;
            padding: 5px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: #bd2130;
            }
          }
        }
      }
    }

    .user-button,
    .item-button,
    .location-button {
      background-color: #ffffff;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 5px;
      height: 40px;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      //margin-left: auto;
      margin-left: 20px;
      margin-right: auto;
      cursor: pointer;

      &:hover {
        background-color: #dfdfdf;
      }
    }
  }

  .users {
    grid-area: us;
  }

  .items {
    grid-area: it;
  }

  .locations {
    // Add styles for the locations section
    grid-area: lo;
  }
}

.back-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  cursor: pointer;
}
