header {
  display: block;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  //background-color: #333;
  color: white;
  z-index: 9999;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;

  .logo-container {
    margin-right: 10px;
  }

  .logo {
    img {
      max-height: 40px;
    }
  }

  .title {
    flex-grow: 1;
    text-align: center;
    h1 {
      margin: 0;
    }
  }
  .links {
    display: flex;
    gap: 10px;
  }

  .settings,
  .info {
    width: 120px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #0034b9;
    }
  }
}
