<section class="container">
  <div class="buttons">
    <div class="loan" routerLink="/loan-item">
      <p>LAINAA TYÖKALU <br />paina tästä</p>
    </div>
    <div class="return" routerLink="/return-item">
      <p>PALAUTA TYÖKALU <br />paina tästä</p>
    </div>
  </div>
</section>
<div class="links">
  <button class="settings" routerLink="/check-admin">
    <p>HALLINTA</p>
  </button>
  <button class="info" routerLink="/info">
    <p>OHJEET</p>
  </button>
  <button class="arduino" routerLink="/arduino">
    <p>LUKIJA</p>
  </button>
</div>
