<section class="container">
  <div class="big-links">
    <div class="heading">
      <h2>Aloita tästä</h2>
    </div>
    <div class="loan" routerLink="/loan-item">
      <p>LAINAA</p>
    </div>
    <div class="text">
      <p>TAI</p>
    </div>
    <div class="return" routerLink="/return-item">
      <p>PALAUTA</p>
    </div>
  </div>

  <div class="loan-list">
    <div class="loan-heading">
      <h2>Lainauslista</h2>
    </div>
    <div class="loaned-items">
      <div *ngIf="loanedItems.length > 0; else noItemsPlaceholder">
        <div *ngFor="let item of loanedItems">
          <p>
            {{ item.itemname }} on lainassa henkilöllä
            {{ item.loaner.username }} / {{ item.loaner.group }} paikassa
            {{ item.location }}
          </p>
        </div>
      </div>

      <ng-template #noItemsPlaceholder>
        <p>Ei tällä hetkellä tavaroita lainassa.</p>
      </ng-template>
    </div>
  </div>
</section>
