/* {
  border: 1px #ffff00 solid;
}*/

:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}

.container {
  margin: auto;
  //height: 98vh;
  border-radius: 25px;
  text-align: center;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    "bli"
    "loli"
    "sli";
  background-color: #fff;

  .big-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto; // Two rows: one for heading, one for loan and return
    grid-template-areas:
      "head head"
      "lo re";
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: 0 auto; // Center the component on the page
    padding-bottom: 30px;
    //background-color: #fff;
  }

  .heading {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    grid-area: head; // Place the heading in the specified grid area
  }

  .loan,
  .return {
    height: 300px;
    width: 500px;
    font-size: 60px;
    border-radius: 10px;
    background-color: #00aaff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 0 auto; // Center the loan and return elements horizontally

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #0034b9;
    }
  }

  .loan {
    grid-area: lo;
  }

  .return {
    grid-area: re;
  }

  .loan-list {
    grid-area: loli;
    //padding: 30px;
    width: 1200px;
    max-height: 400px;

    .loan-heading {
      text-align: center;
      background-color: #333;
      color: #fff;
    }

    .loaned-items {
      overflow-y: auto;
      max-height: 200px;
      background-color: #fff;
    }
  }
}
