/* {
  border: 1px #131313 solid;
}*/

.container {
  margin: auto;
  height: 98vh;
  text-align: center;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    "bli loli"
    "sli loli";

  .big-links {
    grid-area: bli;
    display: grid;
    grid-template-columns: repeat(3, 1);
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
      "lo"
      "re";
    align-items: center;
    justify-content: center;
    //padding-top: 150px;
    //height: 98vh;
    width: 600px;

    .loan,
    .return {
      height: 300px;
      width: 500px;
      border-radius: 10px;
      border: 2px #999999 solid;
      background-color: #ffffff;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        height: 299px;
        width: 498px;
        background-color: #0034b9;
      }
    }

    .loan {
      grid-area: lo;
    }

    .return {
      grid-area: re;
    }
  }

  .small-links {
    grid-area: sli;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "ma in";
    align-items: center;
    justify-content: center;
    //padding: 10px;
    //height: 18vh;
    width: 600px;

    .management,
    .info {
      height: 200px;
      width: 240px;
      border-radius: 10px;
      border: 2px #999999 solid;
      background-color: #ffffff;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        height: 199px;
        width: 239px;
        background-color: #0034b9;
      }
    }

    .management {
      grid-area: ma;
    }

    .info {
      grid-area: in;
    }
  }

  .loan-list {
    grid-area: loli;
    padding: 30px;
    width: 600px;
    height: 98vh;
  }
}
