.container {
  /*margin: auto;
  background-color: #333;
  text-align: center;
  //max-width: 1200px;
  width: 100vw;
  height: 400px;*/
  display: grid;
  grid-template-areas:
    "big"
    "small";
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(51, 51, 51, 0.5);
  width: 100vw;
  height: 400px;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "lo re";
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-area: big;
}

.loan,
.return {
  height: 300px;
  width: 500px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 10px;
  border: 5px #ececec solid;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #5c72ff;
    height: 285px;
    width: 475px;
    font-size: 38px;
  }

  p {
    line-height: normal;
  }
}

.loan {
  grid-area: lo;
}

.return {
  grid-area: re;
}

.links {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin-bottom: 10px;
  gap: 20px;
  grid-template-areas: "set inf ard";
  grid-area: small;
}

.settings,
.info,
.arduino {
  width: 120px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #333;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #5c72ff;
    width: 114px;
    height: 57px;
    font-size: 19px;
  }
}

.settings {
  grid-area: set;
}

.info {
  grid-area: inf;
}

.arduino {
  grid-area: ard;
}
